<!DOCTYPE html>
<html>
  <head>
    <title>Seitomart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if voter_signed_in? %>
        <li>
          <%= render 'layouts/voter_header' %>
        </li>
      <% elsif candidate_signed_in? %>
        <li>
          <%= render 'layouts/candidate_header' %>
        </li>
      <% elsif admin_signed_in? %>
        <il>
          <%= render 'layouts/admin_header' %>
        </il>
      <% else %>
        <il>
          <%= render 'layouts/guest_header' %>
        </il>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
