<!DOCTYPE html>
<html>
  <head>
    <title>Seitomart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if voter_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_voter_session_path, method: :delete %>
        </li>
      <% elsif candidate_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_candidate_session_path, method: :delete %>
        </li>
      <% elsif admin_signed_in? %>
        <il>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </il>
      <% else %>
        <li>
          <%= link_to "HOME", root_path %>
        </li>
        <li>
          <%= link_to "有権者新規ユーザー登録", new_voter_registration_path %>
        </li>
        <li>
          <%= link_to "候補者新規ユーザー登録", new_candidate_registration_path %>
        </li>
        <li>
          <%= link_to "有権者ログイン", new_voter_session_path %>
        </li>
        <li>
          <%= link_to "候補者ログイン", new_candidate_session_path %>
        </li>
        <li>
          <%= link_to "管理者ログイン", new_admin_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
